* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  --primary: #fff;
  /* --secondary: #; */
  --link: #3ea6ff;
  --text: #aaaaaa;
  --logo: #ff0000;
  --input: #000000;
  --input-btn: #cccccc;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
